.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 80px;

}


.imgs {
    display: flex;
    flex-direction: column;
}

.small-image {
    width: 79px;
    height: auto;
    margin-bottom: 40px;
}

.main-image {
    width: auto;
    height: 511px;
    margin-right: 100px;
}

.product {
    display: flex;
    margin-left: 40px;
}

.title-brand {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    margin-bottom: 16px;
}

.title-model {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    margin-bottom: 43px;
}

.size {

}

.name {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

.sizes {
    display: flex;
    margin-bottom: 24px;
    margin-top: 8px;
}

.size-specs {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid #1D1F22;
    margin-right: 12px;
    width: 63px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.colors {
    display: flex;
    margin-top: 10px;
    margin-bottom: 36px;
}

.color-specs {
    width: 36px;
    height: 36px;
    margin-right: 8px;
}

.prices {
    display: flex;
    flex-direction: column;
}

.price {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px;
    padding-left: 0;
}

.add-cart-buttons {
    margin-bottom: 40px;
}

.add-cart-button {
    background-color: #5ECE7B;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    padding: 16px 93.5px;
}

.description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 159.96%;
    left: calc(50% - 292px/2 + 355px);
    bottom: 178px;
    width: 292px;
    color: #1D1F22;
    margin: 0;
}